{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FaceFair</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2>Select a Delhi Metro Location</h2>
        <form method="post" onsubmit="return validateLocations()">
            {% csrf_token %}
            <div class="form-group">
                <label for="from">From:</label>
                <select class="form-control" id="from" name="from">
                    <option value="choose">Choose</option>
                    <option value="Rajiv Chowk">Rajiv Chowk</option>
                        <option value="Chandni Chowk">Chandni Chowk</option>
                        <option value="Kashmere Gate">Kashmere Gate</option>
                        <option value="Central Secretariat">Central
                            Secretariat</option>
                        <option value="Barakhamba Road">Barakhamba Road</option>
                        <option value="Pragati Maidan">Pragati Maidan</option>
                        <option value="Mandi House">Mandi House</option>
                        <option value="Inderlok">Inderlok</option>
                        <option value="Rajouri Garden">Rajouri Garden</option>
                        <option value="Mayur Vihar Phase 1">Mayur Vihar Phase
                            1</option>
                        <option value="Botanical Garden">Botanical
                            Garden</option>
                        <option value="Laxmi Nagar">Laxmi Nagar</option>
                        <option value="Akshardham">Akshardham</option>
                        <option value="Nehru Place">Nehru Place</option>
                        <option value="Hauz Khas">Hauz Khas</option>
                        <option value="Malviya Nagar">Malviya Nagar</option>
                        <option value="Green Park">Green Park</option>
                        <option value="Saket">Saket</option>
                        <option value="New Delhi">New Delhi</option>
                        <option value="Dwarka Sector 21">Dwarka Sector
                            21</option>
                        <option value="Vaishali">Vaishali</option>
                        <option value="Anand Vihar">Anand Vihar</option>
                        <option value="Dilshad Garden">Dilshad Garden</option>
                        <option value="Rohini West">Rohini West</option>
                </select>
            </div>

            <div class="form-group">
                <label for="to">To:</label>
                <select class="form-control" id="to" name="to">
                    <option value="choose">Choose</option>
                    <option value="Rajiv Chowk">Rajiv Chowk</option>
                        <option value="Chandni Chowk">Chandni Chowk</option>
                        <option value="Kashmere Gate">Kashmere Gate</option>
                        <option value="Central Secretariat">Central
                            Secretariat</option>
                        <option value="Barakhamba Road">Barakhamba Road</option>
                        <option value="Pragati Maidan">Pragati Maidan</option>
                        <option value="Mandi House">Mandi House</option>
                        <option value="Inderlok">Inderlok</option>
                        <option value="Rajouri Garden">Rajouri Garden</option>
                        <option value="Mayur Vihar Phase 1">Mayur Vihar Phase
                            1</option>
                        <option value="Botanical Garden">Botanical
                            Garden</option>
                        <option value="Laxmi Nagar">Laxmi Nagar</option>
                        <option value="Akshardham">Akshardham</option>
                        <option value="Nehru Place">Nehru Place</option>
                        <option value="Hauz Khas">Hauz Khas</option>
                        <option value="Malviya Nagar">Malviya Nagar</option>
                        <option value="Green Park">Green Park</option>
                        <option value="Saket">Saket</option>
                        <option value="New Delhi">New Delhi</option>
                        <option value="Dwarka Sector 21">Dwarka Sector
                            21</option>
                        <option value="Vaishali">Vaishali</option>
                        <option value="Anand Vihar">Anand Vihar</option>
                        <option value="Dilshad Garden">Dilshad Garden</option>
                        <option value="Rohini West">Rohini West</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function validateLocations() {
            var fromLocation = document.getElementById("from").value;
            var toLocation = document.getElementById("to").value;
            if (fromLocation === 'Choose') {
                alert("Please select From location");
                return false; // Prevent form submission
            }
            if (toLocation === 'Choose') {
                alert("Please select To location");
                return false; // Prevent form submission
            }

            if (fromLocation === toLocation) {
                alert("From and To locations cannot be the same.");
                return false; // Prevent form submission
            }

            return true; // Allow form submission
        }
    </script>
</body>
</html>





